<h1>All Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Request Number</th>
      <th>Sequence Number</th>
      <th>Request Type</th>
      <th>Response Time</th>
      <th>Primary Service Area Code</th>
      <th>Additional Service Area Codes</th>
      <th>Dig Site Info</th>
      <th>Excavator Company</th>
      <th>Excavator Address</th>
      <th>Crew On Site</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @tickets.present? %>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.request_number %></td>
          <td><%= ticket.sequence_number %></td>
          <td><%= ticket.request_type %></td>
          <td><%= ticket.response_time %></td>
          <td><%= ticket.primary_service_area_code %></td>
          <td><%= ticket.additional_service_area_codes.join(", ") %></td>
          <td><%= ticket.dig_site_info %></td>
          <td><%= ticket.excavator&.company_name %></td>
          <td><%= ticket.excavator&.address %></td>
          <td><%= ticket.excavator&.crew_on_site ? 'Yes' : 'No' %></td>
          <td><%= link_to 'Show', ticket_path(ticket) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="11">No tickets available</td>
      </tr>
    <% end %>
  </tbody>
</table>
