<!DOCTYPE html>
<html>
<head>
  <title>Ticket Details</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus"></script>

</head>
<body>
  <h1>Ticket Details</h1>

  <div id="ticket-info">
    <p><strong>Request Number:</strong> <%= @ticket.request_number %></p>
    <p><strong>Sequence Number:</strong> <%= @ticket.sequence_number %></p>
    <p><strong>Request Type:</strong> <%= @ticket.request_type %></p>
    <p><strong>Response Time:</strong> <%= @ticket.response_time %></p>
    <p><strong>Primary Service Area Code:</strong> <%= @ticket.primary_service_area_code %></p>
    <p><strong>Additional Service Area Codes:</strong> <%= @ticket.additional_service_area_codes.join(", ") %></p>
    <p><strong>Company Name:</strong> <%= @ticket.excavator.company_name %></p>
    <p><strong>Address:</strong> <%= @ticket.excavator.address %></p>
    <p><strong>Crew On Site:</strong> <%= @ticket.excavator.crew_on_site ? 'Yes' : 'No' %></p>
  </div>
  <%= link_to 'Back to Tickets', tickets_path %>

  <h2>Dig Site Map</h2>

  <div id="map"
     data-controller="map"
     data-map-polygon-data-value="<%= @polygon_coords.to_json.html_safe %>"
     style="height: 600px; width: 100%;">
  </div>

</body>
</html>
